@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    background-color: #4e587c;
    color: #fff;
}

h1{
    display: block;
    position: absolute;
    top: 0%;
    left: 40%;
    margin-left: 1rem;
    font-size: 40px;
    opacity: 0.8;
    text-align: center;
}

form {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 100px;
    border-radius: 5px;
    display: block;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
} 


.username {
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 19.1%;
    margin: 5%;
}

.password {
    font-size: 15px;
    position: absolute;
    top:50%;
    margin: 5%;
}

.submit {
    display: inline-block;
    background-color: #a13854;
    position: relative;
    width: 20%;
    height: 30px;
    border: none;
    outline: none;
    text-decoration: none;
    top: 85%;
}

.error {
    font-size: 1rem;
    color: black;
    outline-color: red;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 61%;
    left: 38%;
    text-shadow: -1px 1px 0 red,
				  1px 1px 0 red,
				 1px -1px 0 red;
}
